[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shinyscholar"]
	path = shinyscholar
	url = https://github.com/simon-smart88/shinyscholar
